{
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "no-console": 0,
    "padded-blocks": 0
  },
  "env": {
    "node": true,
    "es6": true
  }
}
